*.o
*.gc??
lcov.info
gmon.out
callgrind.out.*
*.swp

policyd
cwa
cwcert
cwca
sha1sum
polspec
tplspec
confdump
cwpol

debug/package-manager
debug/service-manager

doc/*.png
doc/api/doxygen.log

certs

test/run
test/sha1_files.h
test/data/res_file/new_file
test/data/x509/*
test/chroot/*.chroot
test/data/passwd-uid
test/augeas
test/sub/proto

conf/lexer.c
conf/grammar.c
conf/grammar.h
conf/*.output

spec/lexer.c
spec/grammar.c
spec/grammar.h
spec/*.output

tpl/lexer.c
tpl/grammar.c
tpl/grammar.h
tpl/*.output

ext/build
ext/openssl

config
Makefile.deps

local
.commit
