*.o
*.gc??
lcov.info
gmon.out

policyd
cwa
cwcert
cwca
sha1sum
polspec

doc/*.png

certs

test/run
test/sha1_files.h
test/data/res_file/new_file
test/data/x509/*
test/chroot/*.chroot

config/lexer.c
config/grammar.c
config/grammar.h
config/*.output

spec/lexer.c
spec/grammar.c
spec/grammar.h
spec/*.output
