*.o
*.gc??
lcov.info
gmon.out
callgrind.out.*
*.swp

*.tar.gz
*.deb
*.rpm

/policyd
/cwa
/cwcert
/cwca
/sha1sum
/polspec
/tplspec
/confdump
/cwpol

/debug/package-manager
/debug/service-manager

/doc/*.png
/doc/api

/certs

config.h

/test/defs.h
/test/unit/run
/test/unit/data
/test/unit/tmp
/test/unit/sha1_files.h
/test/unit/helpers/proto_helper
/test/chroot/*.chroot
/test/augeas

/conf/*.output
/spec/*.output
/tpl/*.output

/ext/build
/ext/openssl

/config
/Makefile.deps

local
.commit
