Source: clockwork
Section: admin
Priority: optional
Maintainer: James Hunt <james@jameshunt.us>
Build-Depends: bison,
               debhelper (>= 8.0.0),
               flex,
               libaugeas-dev (>= 0.10.0),
               libaugeas0 (>= 0.10.0),
               libctap (>= 1.1.4),
               libctap-dev (>= 1.1.4),
               libfile-slurp-perl,
               libreadline6-dev,
               libtest-deep-perl,
               libtest-simple-perl,
               libtext-diff-perl,
               libzmq3-dev,
               pkg-config
Standards-Version: 3.9.3
Homepage: http://clockwork.niftylogic.com/

Package: clockwork-server
Architecture: any
Depends: libzmq3, libreadline6, ${misc:Depends}, ${shlibs:Depends}
Description: Secure Configuration Management - Server
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package provides the server-side components of the Clockwork
 system, including the Certificate Authority and Policy Master.

Package: clockwork-agent
Architecture: any
Depends: libzmq3, augeas-lenses, ${misc:Depends}, ${shlibs:Depends}
Description: Secure Configuration Management - Agent
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package provides the host-side components of the Clockwork
 system that are responsible for gathering local facts, retrieving
 policy from an upstream server and applying that policy locally.

Package: clockwork-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Secure Configuration Management - Documentation
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package contains the documentation for Clockwork.

Package: vim-clockwork
Architecture: all
Depends: ${misc:Depends}
Recommends: vim-addon-manager
Description: Syntax highlighting for Clockwork files
 The vim-clockwork package provides filetype detection and syntax
 highlighting for Clockwork policy and configuration files.
