Source: clockwork
Section: admin
Priority: optional
Maintainer: James Hunt <james@jameshunt.us>
Build-Depends: bison,
               debhelper (>= 8.0.0),
               flex,
               libaugeas-dev (>= 0.10.0),
               libaugeas0 (>= 0.10.0),
               libctap (>= 1.1.4),
               libctap-dev (>= 1.1.4),
               libfile-slurp-perl,
               libpam0g-dev,
               libpcre3-dev,
               libreadline6-dev,
               libsodium-dev,
               libsodium13,
               libtest-deep-perl,
               libtest-simple-perl,
               libtext-diff-perl,
               libzmq3-dev,
               pkg-config
Standards-Version: 3.9.3
Homepage: http://clockwork.niftylogic.com/

Package: clockwork-common
Architecture: any
Depends: libaugeas0 (>= 0.10.0),
         libpcre3,
         libsodium13,
         libzmq3,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Secure Configuration Management - Server
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package provides utilities common to all clockwork packages.

Package: clockwork-server
Architecture: any
Depends: clockwork-common (= ${binary:Version}),
         libaugeas0 (>= 0.10.0),
         libpcre3,
         libreadline6,
         libsodium13,
         libzmq3,
         ruby,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Secure Configuration Management - Server
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package provides the server-side components of Clockwork.

Package: clockwork-server-dbg
Architecture: any
Section: debug
Priority: extra
Depends: clockwork-server (= ${binary:Version}), ${misc:Depends}
Description: Debugging Symbols for Clockwork Server
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package provides the debugging symbols for clockd.

Package: clockwork-mesh-server
Architecture: any
Depends: clockwork-common (= ${binary:Version}),
         libpam0g,
         libpcre3,
         libsodium13,
         libzmq3,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Secure Configuration Management - Mesh Framework
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package provides the server-side components of Clockwork Mesh.

Package: clockwork-mesh-server-dbg
Architecture: any
Section: debug
Priority: extra
Depends: clockwork-mesh-server (= ${binary:Version}), ${misc:Depends}
Description: Debugging Symbols for Clockwork Server
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package provides the debugging symbols for meshd.

Package: clockwork-agent
Architecture: any
Depends: augeas-lenses,
         clockwork-common (= ${binary:Version}),
         diffutils,
         libzmq3,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Secure Configuration Management - Agent
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package provides the host-side components of the Clockwork
 system that are responsible for gathering local facts, retrieving
 policy from an upstream server and applying that policy locally.

Package: clockwork-agent-dbg
Architecture: any
Section: debug
Priority: extra
Depends: clockwork-agent (= ${binary:Version}), ${misc:Depends}
Description: Debugging Symbols for Clockwork Agent
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package provides the debugging symbols for cogd.

Package: clockwork-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Secure Configuration Management - Documentation
 Clockwork is a safe, secure and flexible system for managing system
 configurations through enforcement of targeted policies, expressed
 in a system-independent, declarative format.
 .
 With Clockwork, managing infrastructures of all scales is easier,
 more effective and less difficult.
 .
 This package contains the documentation for Clockwork.

Package: vim-clockwork
Architecture: all
Depends: ${misc:Depends}
Recommends: vim-addon-manager
Description: Syntax highlighting for Clockwork files
 The vim-clockwork package provides filetype detection and syntax
 highlighting for Clockwork policy and configuration files.
