@media all {
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif;
	font-size: 15pt; padding: 0% 0% 0% 14%; background: #fff url(images/h.png) repeat-x 0px -50px; }

legend { width: 100%; line-height: 0.75em; letter-spacing: -1pt; word-spacing: 0.1em; padding: 2em 0em 0em 0em; margin-bottom: 1em; }
h1,h2,h3,h4,h5,h6 { line-height: 0.75em; letter-spacing: -1pt; word-spacing: 0.1em; margin: 2em 0em 0em 0em; }
legend,h1,h2,h3 { color: #2a2269; font-weight: bold; }
h4,h5,h6 { color: #960439; font-weight: bold; }
legend,h1 { font-size: 160%; }
h2 { font-size: 150%; }
h3 { font-size: 140%; font-style: italic; }
h4 { font-size: 125%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; font-style: italic; }
legend,h1 { border-bottom: 1px solid #8c7eff; padding-bottom: 0px; background: transparent url(images/g.png) no-repeat 100% 100%; }
p { margin: 1em 0em; line-height: 1.3em; text-align: justify; }
a { color: #1c00ff; font-weight: bold; }
strong { background-color: #960439; color: #fff; font-weight: bold; padding: 0em 0.2em; }
em { color: #960439; font-style: italic; font-weight: bold; }
kbd, samp, code { font-family: monospace; font-size: 90%; font-weight: bold; }
dfn { color: #960439; font-weight: bold; }
var { color: #960439; font-weight: bold; font-family: monospace; }
cite { font-style: italic; font-size: 110%; }
dl { margin: 2em 0em; }
dl dt { width: 5em; font-weight: bold; float: left; text-align: right; padding-right: 1em; }
dl dd { padding-left: 6em; margin-bottom: 1.5em; }
q, blockquote { font-size: 120%; line-height: 1.3em; font-style: italic; color: #333; }
blockquote { padding: 0em 2em; }
pre { font-family: monospace; white-space: pre; background-color: #333; color: #fff; padding: 1em; margin: 1em 0em 2.5em; }
pre code { font-weight: normal; }
ul { padding: 0em 0em 0em 1.3em; }
ul li:before { content: "\bb\a0"; }
li { margin: 0.3em 0em; }
ol { list-style-type: decimal; padding: 0em 0em 0em 2.6em; }
del, s, strike { text-decoration: line-through; color: #999; }
ins { color: green; text-decoration: none; }
sub, sup { position: relative; font-size: 60%; }
sup { vertical-align: baseline; bottom: 1.3ex; }
sub { vertical-align: baseline; top: 0.7ex; }
abbr { color: #960439; font-weight: bold; text-decoration: underline; }

form div { margin: 0em 0em 1em 0em; }
form div.buttons { margin-left: 8.3em; }
form div span { display: block; font-size: 70%; margin-left: 11.86em; /* 8.3 / font-size */ }
form div span.help { color: #2a2269; }
form div span.error { color: #f00; display: none; }
form .errors { background-color: #960439; color: #fff; padding: 1em; font-weight: bold; margin-top: 0em; }
form .success { background-color: #2a2269; color: #fff; padding: 1em; margin-top: 0em; }
form div.error span.error { display: block; }
form div.error span.help  { display: none; }
form div.error label { color: #f00; }
form div.error input, form div.error textarea { border: 1px solid #f00; }

form label {
        vertical-align: text-top;
        font-weight: bold;
        color: #2a2269;
        display: block;
        float: left;
        width: 8em;
        text-align: right;
        padding: 0em 0.3em 0em 0em;
        line-height: 1.5em;
}
form input, form textarea {
        font-family: inherit;
        font-size: inherit;
}
form button {
        font-size: 1em;
        padding: 0.1em 0.5em;
        font-weight: bold;
        background-color: #960439; color: #fff;
        background-color: #2a2269; color: #fff;
        border: 0 none;
        border-radius: 0.25em;
}
textarea,
form input[type=text],
form input[type=password] {
        border: 1px solid #ccc;
        border-width: 1px 2px 1px 1px;
        border-bottom: 1px solid #777;

        width: 20em;
}

form #name { font-size: 120%; width: 16.67em; }

.announcement { padding: 0.001em 1em; background-color: #2a2269; color: #fff; border-radius: 0.5em; }
.announcement h1 {
	border-bottom: 1px solid #fff; margin-top: 1em; padding-bottom: 0px; font-size: 130%;
	background: transparent url(images/gw.png) no-repeat 100% 100%; color: inherit; }
.announcement a { color: #ff0; }
.announcement strong { font-weight: bold; background-color: inherit; padding: 0em; }
.announcement em, .announcement var, .announcement strong { color: #ff0; }
.announcement ins { color: inherit; font-weight: bold; }

#f { border-top: 1px solid #ccc; font-size: 70%; margin: 8em 0em 0em 0em; padding: 1em 2em 3em 2em; }
#f .nav li { float: left; margin-right: 2.6em; }
#f .nav li:before { content: ""; }
#f .nav a { text-decoration: none; color: #2a2269; }
#f .updated { font-size: 10pt; color: #666; }
#f p { clear: left; margin-top: 3em; color: #2a2269; }
#f .license a { display: block; }


body.api pre { font-size: 10pt; overflow: auto; background-color: #555;}
body.api pre.source  { display: none; background-color: #333; }
body.api pre.visible { display: block; }
body.api .doc { margin-bottom: 4em; padding-top: 1px; }
body.api .doc h2 { background-color: #2a2269; color: #fff; margin-bottom: 0.4em; padding: 0.3em; }
body.api .doc .prototype { margin-top: 0em; font-family: monospace; font-size: 10pt; text-align: right; font-weight: bold; }
body.api .doc .summary { font-size: 130%; }

body.api .enum h2   { background-color: green; }
body.api .struct h2 { background-color: #f40; }

}

@media screen {
#s { float: right; margin: 1em 3em; }
#s .nav { margin-bottom: 4em; padding: 0em; }
#s .nav li {
	display: block; margin: 0em; margin-top: -1px;
	border: 1px solid #8c7eff; border-color: #ccc; border-width: 1px 0px; }
#s .nav li:before { content: ""; }
#s .nav a { text-decoration: none; display: block; padding: 0.5em 1em; }
#s .nav a:hover { background: #8c7eff url(images/arrow.gif) no-repeat 0% 50%; color: #ff0; }
#s img.widget, #s .widget img { display: block; margin: 2em auto; }

#m { width: 687px; }

h1#title span { display: none; }
h1#title {
	background: transparent url(images/t.png) no-repeat 0% 0%; border: none;
	position: relative; height: 150px; margin: 40px 0px 0px; }

}

@media print {
#s { display: none; }
}
